/* Basic styles for each demo section with a dark theme */
section {
  margin: 20px;
  padding: 15px;
  border-radius: 8px;
  background-color: #333;
  color: #ddd;
}

/* Styling for headers within each section */
section h1, section h2, section h3 {
  color: #fff;
  margin-top: 0;
}

section p {
  color: #ccc;
  line-height: 1.6;
}

.auto-scroll-table-container{
  text-align: left;
}
.auto-scroll-table{
  color: #eeee00;
  font-family: 'Courier New', Courier, monospace;
}

.auto-scroll-table thead th {
  background-color: black;
  border-bottom: 1pt solid white;
}

.example .props textarea{
  width: 100%;
}

.example-container{
  padding: 15px;
  border-radius: 5px;
  background-color: #222;
}


.documentation {
  line-height: 1.5em;
}

.installation code{
  padding: 10px;
  border-radius: 5px;
  display: block;
}